.itemspage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.itemspage .itemslist .win-horizontal.win-viewport .win-surface {
    margin-bottom: 60px;
    margin-left: 115px;
    margin-right: 115px;
    margin-top: 155px;
}

.itemspage .itemslist {
    height: 98.44%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .itemspage .itemslist .item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        height: 260px;
        width: 350px;
    }
    
        .itemspage .itemslist .item .item-image {
            -ms-grid-row: 1;
            width: 64px;
            height: 64px;
            display: inline;
        }

        .itemspage .itemslist .item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
            height: 80px;
            width: 300px;
            display: inline;
        }
            .itemspage .itemslist .item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }
            .temspage .itemslist .item .item-overlay .item-notes {
                -ms-grid-row: 2;
                width: 340px;
            }
            .itemspage .itemslist .item .item-overlay .item-subtitle {
                -ms-grid-row: 3;
                width: 340px;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .itemspage .itemslist .item .item-overlay {
        background: #404040;
		opacity: 0.7;
    }

        .itemspage .itemslist .item .item-overlay .item-title {
			font-weight:bold;
            color:white;
        }

        .itemspage .itemslist .item .item-overlay .item-subtitle {
            color:white;
        }
}

@media screen and (-ms-view-state: fullscreen-landscape) and (-ms-high-contrast), screen and (-ms-view-state: fullscreen-portrait) and (-ms-high-contrast), screen and (-ms-view-state: filled) and (-ms-high-contrast) {
    .itemspage .itemslist .item .item-overlay {
        color: WindowText;
    }
}

@media screen and (-ms-view-state: snapped) {
    .itemspage section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .itemspage .itemslist {
        margin-top: 0;
    }

        .itemspage .itemslist .win-vertical.win-viewport .win-surface {
            margin-bottom: 30px;
        }

        .itemspage .itemslist .win-container {
            margin-bottom: 15px;
            margin-left: 13px;
            margin-right: 35px;
            padding: 7px;
        }

        .itemspage .itemslist .item {
            -ms-grid-columns: 60px 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 60px;
            width: 350px;
        }

            .itemspage .itemslist .item .item-image, .itemspage .itemslist .item:hover .item-image {
                -ms-grid-column: 1;
                -ms-grid-row-span: 1;
                height: 60px;
                width: 60px;
            }

            .itemspage .itemslist .item .item-overlay {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                -ms-grid-row-align: stretch;
                background: transparent;
                display: inline-block;
                margin-left: 10px;
                padding: 5px;
            }

                .itemspage .itemslist .item .item-overlay .item-title {
                    margin-top: 4px;
                    max-height: 40px;
                    width: 350px;
                }

                .itemspage .itemslist .item .item-overlay .item-subtitle {
                    opacity: 0.6;
                    width: 350px;
                }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemspage .itemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 100px;
    }
}
/*.item { clear: both; }
    .item-image { float: left;width: 32px;height: 32px;margin: auto;}
    .item-overlay { float: right; }*/